h2 {
  text-align: center;
  font-weight: 600;
}

.wrapper-button {
  display: flex;
  justify-content: center;
}

.wrapper-button-align {
  width: 80%;
  text-align: right;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.example-container {
  width: 80%;
  margin: 20px 0;
  overflow: auto;
}

table {
  width: 100%;
}

.custom-id-column {
  width: 10px !important;
}

.username-column {
  width: 20%;
}

.action-column {
  width: 130px;
  text-align: center;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.icon-button {
  background-color: transparent;
  border: none;
}

.icon-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

/* Dialog */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form-field {
  width: 100%;
}

/* Drag drop image */
.drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-area label {
  width: 100%;
  overflow: hidden;
}

.drop-message {
  font-size: 18px;
  margin-bottom: 10px;
}

#image-preview {
  margin-top: 20px;
}

.image-preview-item {
  margin: 5px;
  display: inline-block;
}

.image-preview-item img {
  max-width: 200px;
}

/* Hide the input visually */
#fileInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
