<h2 mat-dialog-title>{{ dialogTitle }}</h2>

<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" [formControl]="username" />
      @if (username.hasError('required')) {
      <mat-error>Username is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="text" [formControl]="password" />
      @if (password.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Role</mat-label>
      <input matInput type="text" [formControl]="role" />
      @if (role.hasError('required')) {
      <mat-error>Role is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <label
      class="drop-area"
      [class.drag-over]="dragging"
      for="fileInput"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      @if (!dragging) {
      <div class="drop-message">Drag & Drop Avatar Image Here</div>
      } @if (dragging) {
      <div class="drop-message">Drop Here</div>
      }
      <input
        type="file"
        id="fileInput"
        multiple
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      @if (!isAvatar) {
      <mat-error>File is <strong>required</strong></mat-error>
      }
      <div id="image-preview">
        <div class="image-preview-item">
          <img [src]="avatarUrl" />
        </div>
      </div>
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    (click)="onSubmit()"
    [disabled]="username.hasError('required') || password.hasError('required') || role.hasError('required')"
  >
    Save
  </button>
</mat-dialog-actions>
