<h2 mat-dialog-title>{{ dialogTitle }}</h2>

<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" [formControl]="username" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="text" [formControl]="password" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Role</mat-label>
      <input matInput type="text" [formControl]="role" />
    </mat-form-field>

    <label
      class="drop-area"
      [class.drag-over]="dragging"
      for="fileInput"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <div *ngIf="!dragging" class="drop-message">
        Drag & Drop Avatar Image Here
      </div>
      <div *ngIf="dragging" class="drop-message">Drop Here</div>
      <input
        type="file"
        id="fileInput"
        multiple
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      <div id="image-preview">
        <div class="image-preview-item">
          <img [src]="avatarUrl" />
        </div>
      </div>
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Save</button>
</mat-dialog-actions>
