<h2>CHAPTER MANAGEMENT</h2>
<div class="wrapper-chapter">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Chapter name</mat-label>
      <input matInput placeholder="" [formControl]="name" />
      @if (name.hasError('required')) {
        <mat-error>Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <editor
      [init]="editorConfig"
      apiKey="c1lh9z9b2dnvq9oveb5593hyygqu17vw84q9ijxo96zhwc8d"
      [formControl]="content"
    ></editor>
    @if (content.hasError('required')) {
      <mat-error>Content is <strong>required</strong></mat-error>
    }
  </form>
</div>
<div class="wrapper-button">
  <button
    mat-fab
    extended
    color="basic"
    class="button-add button-action-chapter"
    (click)="goBack()"
  >
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button
    mat-fab
    extended
    color="primary"
    class="button-add button-action-chapter"
    (click)="onSubmit()"
    [disabled]="name.hasError('required') || content.hasError('required')"
  >
    <mat-icon>add</mat-icon>
    Save
  </button>
</div>
