<h2>CHAPTER MANAGEMENT</h2>
<div class="wrapper-chapter">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Chapter name</mat-label>
      <input matInput placeholder="" />
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <mat-label>Chapter content</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field> -->

    <editor
      [init]="editorConfig"
      apiKey="c1lh9z9b2dnvq9oveb5593hyygqu17vw84q9ijxo96zhwc8d"
    ></editor>
  </form>
</div>
