.example-form {
  min-width: 150px;
  width: 80%;
}

.example-full-width {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

h2 {
  text-align: center;
}

.wrapper-chapter {
  display: flex;
  justify-content: center;
}

.wrapper-button {
  display: flex;
  margin: 40px 0;
  justify-content: center;
}

.wrapper-button-align {
  width: 100%;
  text-align: right;
}

.button-action-chapter {
  margin: 0 20px;
}
