.navbar {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
    display: flex;

}

.logo {
  margin-top: 6px;
  width: 150px;
  height: auto;
}

.wrapper-navbar-item {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 40px;
  font-weight: 560;
}

.navbar-item:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info:hover,
.log-out:hover { 
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.user-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 560;
}

.devider {
  margin-bottom: 10px;
  opacity: 0.2;
}

.wrapper-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.log-out {
  color: #FF4F03;
}

.wrapper-right-item {
  margin: 0 10px;
}