<nav class="navbar navbar-light bg-light">
  <div class="nav-left">
    <a class="navbar-brand" href="#">
      <img
        src="https://shorturl.at/jCFIX"
        class="me-2 logo"
        height="20"
        alt=""
        loading="lazy"
      />
    </a>
    <div class="wrapper-navbar-item">
      <span class="navbar-item">Khám phá</span>
      <span class="navbar-item">Cộng đồng</span>
      <span class="navbar-item" routerLink="/admin">ADMIN</span>
    </div>
  </div>

  <div class="user-info">
    <img src="https://shorturl.at/uyLNR" alt="avatar" class="avatar" />
    <span class="user-name"
      ><span>UserUserUser</span
      ><mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="expand_more"
      ></mat-icon
    ></span>
  </div>
</nav>
<hr class="devider" />
