<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://shorturl.at/jCFIX"
        class="me-2 logo"
        height="20"
        alt=""
        loading="lazy"
      />
    </a>
  </div>
  <div class="wrapper-navbar-item">
    <span class="navbar-item">Khám phá</span>
    <span class="navbar-item">Cộng đồng</span>
    <form>
      <input
        type="search"
        type="search"
        placeholder="Tìm kiếm"
        class="search-input"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
  </div>
</nav>
<hr class="devider" />
