<nav class="navbar navbar-light bg-light">
  <div class="nav-left">
    <a class="navbar-brand" href="#">
      <img
        src="https://shorturl.at/jCFIX"
        class="me-2 logo"
        height="20"
        alt=""
        loading="lazy"
      />
    </a>
    <div class="wrapper-navbar-item">
      <span class="navbar-item">Khám phá</span>
      <span class="navbar-item">Cộng đồng</span>
      <span class="navbar-item" routerLink="/admin">ADMIN</span>
    </div>
  </div>

  <div class="wrapper-right">
    <div class="user-info wrapper-right-item">
      <img src="https://shorturl.at/uyLNR" alt="avatar" class="avatar" />
      <span class="user-name"><span>{{ username }}</span></span>
    </div>
    <div>
      <span class="log-out wrapper-right-item" (click)="onLogout()">Đăng xuất</span>
    </div>
  </div>
</nav>
<hr class="devider" />
