h2 {
  text-align: center;
}

.wrapper-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh
}

.example-card {
  min-width: 300px;
  max-width: 400px;
  max-height: 70px;
  margin-bottom: 8px;
  background-color: #ff4f03;
}

.example-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

mat-card {
  margin: 40px;
}

.icon {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  color: #fff;
}

mat-card-title {
  color: #fff;
  font-weight: 400;
}
