<h2>ADMIN MANAGEMENT</h2>

<div class="wrapper-admin">
  <mat-card class="example-card" routerLink="/admin/fiction">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Fiction Management</mat-card-title>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="menu_book"
          class="icon"
        ></mat-icon>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card" routerLink="/admin/tag">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Tag Management</mat-card-title>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="label"
          class="icon"
        ></mat-icon>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card" routerLink="/admin/user">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>User Management</mat-card-title>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="account_circle"
          class="icon"
        ></mat-icon>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>
