.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.wrapper-user {
  width: 80%;
}

.wrapper-avatar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

mat-card {
  width: 400px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center;
}

.user-avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px #000;
  overflow: hidden;
  object-fit: cover;
}

.user-username {
  font-size: 1.3rem;
  text-align: center;
  margin: 10px 0;
}

.divider {
  margin: 40px 0;
}

.title {
  font-size: 1.3rem;
}

.wrapper-fiction {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.fiction-list-wrapper {
  width: 100%;
}

.fiction-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.ficiton {
  width: 30%;
  margin: 20px 1.666%;
  height: 550px;
}

.example-card {
  width: 100%;
  height: 100%;
}

.card-header {
  border-bottom: solid 1px;
}

.card-action {
  border-top: solid 1px;
}

.card-header,
.card-action {
  display: flex;
  justify-content: center;
}

mat-card-content {
  max-height: 100px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.wrapper-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.fiction-img {
  width: 100%;
  max-width: 300px;
  max-height: 400px;
  object-fit: contain;
}
