<h2 mat-dialog-title>{{ dialogTitle }}</h2>

<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Tag Name</mat-label>
      <input
        type="text"
        matInput
        [formControl]="name"
        [matAutocomplete]="auto"
      />
      @if (name.hasError('required')) {
        <mat-error>Name is <strong>required</strong></mat-error>
      }
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()" [disabled]="name.hasError('required')">Save</button>
</mat-dialog-actions>
