<h2>FICTION DETAILS MANAGEMENT</h2>
<div class="wrapper">
  <div class="example-container">
    <mat-tab-group>
      <mat-tab label="Fiction Detail">
        <form class="example-form mt-30px">
          <div class="wrapper-input">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput type="text" [formControl]="name" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Status</mat-label>
              <mat-select
                #fontSize
                [value]="status.value"
                [formControl]="status"
              >
                <mat-option [value]="1">Accomplished</mat-option>
                <mat-option [value]="0">Composing</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="wrapper-input">
            <mat-form-field class="example-full-width" *ngIf="isUpdate">
              <mat-label>Author</mat-label>
              <input matInput type="text" [formControl]="userId" readonly />
            </mat-form-field>

            <mat-form-field class="example-full-width" *ngIf="isUpdate">
              <mat-label>Count View</mat-label>
              <input
                matInput
                type="number"
                [formControl]="countView"
                readonly
              />
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width input-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput [formControl]="description"></textarea>
          </mat-form-field>

          <label
            class="drop-area"
            [class.drag-over]="dragging"
            for="fileInput"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDrop($event)"
          >
            <div *ngIf="!dragging" class="drop-message">
              Drag & Drop Cover Image Here
            </div>
            <div *ngIf="dragging" class="drop-message">Drop Here</div>
            <input
              type="file"
              id="fileInput"
              multiple
              accept="image/*"
              (change)="onFileSelected($event)"
            />
            <div id="image-preview">
              <div class="image-preview-item">
                <img [src]="avatarUrl" />
              </div>
            </div>
          </label>
        </form>

        <div class="wrapper-button">
          <button
            mat-fab
            extended
            color="basic"
            class="button-add button-action-fiction"
            (click)="goBack()"
          >
            <mat-icon>close</mat-icon>
            Cancel
          </button>
          <button
            mat-fab
            extended
            color="primary"
            class="button-add button-action-fiction"
            (click)="onSubmitFiction()"
          >
            <mat-icon>add</mat-icon>
            Save
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Tag">
        <div class="wrapper-tag mt-30px" *ngIf="isUpdate">
          <div>
            <div class="demo-section tag-list">
              <button
                mat-raised-button
                color="accent"
                matBadgePosition="before"
                class="tag-fiction"
                *ngFor="let tag of this.tags"
              >
                {{ tag.name }}
              </button>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="avaiable-tag">
            <h3>AVAILABLE TAG</h3>
            <div class="wrapper-button">
              <div class="wrapper-button-align">
                <button
                  mat-fab
                  extended
                  color="primary"
                  class="button-add"
                  (click)="openDialog('Create tag')"
                >
                  <mat-icon>add</mat-icon>
                  New tag
                </button>
              </div>
            </div>
            <mat-chip-listbox aria-label="Fish selection" multiple>
              <mat-chip-option
                color="accent"
                *ngFor="let tag of availableTags"
                [selected]="tag.selected"
                (click)="onTagSelectionChange(tag)"
                >{{ tag.name }}</mat-chip-option
              >
            </mat-chip-listbox>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Chapter">
        <div class="wrapper-chapter mt-30px" *ngIf="isUpdate">
          <div class="wrapper-button">
            <div class="wrapper-button-align">
              <button mat-fab extended color="primary" class="button-add">
                <mat-icon>add</mat-icon>
                New chapter
              </button>
            </div>
          </div>

          <div
            cdkDropList
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              cdkDrag
              *ngFor="let chapter of this.fictionById?.chapters; let i = index"
            >
              {{ chapter.sort }}. {{ chapter.name }}
              <div>
                <button
                  mat-icon-button
                  matTooltip="Edit"
                  color="primary"
                  aria-label="Example icon-button with a heart icon"
                  class="icon-button"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matTooltip="Delete"
                  color="warn"
                  aria-label="Example icon-button with a heart icon"
                  class="icon-button"
                  (click)="chapter.id && onDeleteChapter(chapter.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="wrapper-button">
            <button
              mat-fab
              extended
              color="basic"
              class="button-add button-action-fiction"
              (click)="goBack()"
            >
              <mat-icon>close</mat-icon>
              Cancel
            </button>
            <button
              mat-fab
              extended
              color="primary"
              class="button-add button-action-fiction"
              (click)="onUpdateSortChapter()"
            >
              <mat-icon>add</mat-icon>
              Save
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Comment">
        <div class="wrapper-comment mt-30px" *ngIf="isUpdate">
          <div class="wrapper-comment" *ngFor="let comment of comments">
            <div class="comment">
              <div class="avatar-wrapper">
                <img [src]="comment.user.avatarUrl" alt="" class="avatar" />
              </div>
              <div class="comment-detail">
                <div class="comment-username">{{ comment.user.username }}</div>
                <div class="comment-content">{{ comment.content }}</div>
              </div>
            </div>
            <div class="comment-action">
              <button mat-button color="warn">Delete</button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
