h2 {
  text-align: center;
  font-weight: 600;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.example-container {
  width: 80%;
  margin: 20px 0;
  overflow: auto;
}

.example-form {
  width: 100%;
}

.wrapper-input {
  display: flex;
  justify-content: space-between;
}

.example-full-width {
  width: 44%;
}

.example-full-width.input-full-width {
  width: 100%;
}

.divider {
  margin: 40px 0;
}

h3 {
  text-align: center;
  font-weight: 600;
}

.wrapper-button {
  display: flex;
  margin: 40px 0;
  justify-content: center;
}

.wrapper-button-align {
  width: 100%;
  text-align: right;
}

.button-add-tag {
  margin-right: 20px;
}

.button-action-fiction {
  margin: 0 20px;
}

.example-list {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Drag drop image */
.drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-area label {
  width: 100%;
  overflow: hidden;
}

.drop-message {
  font-size: 18px;
  margin-bottom: 10px;
}

#image-preview {
  margin-top: 20px;
}

.image-preview-item {
  margin: 5px;
  display: inline-block;
}

.image-preview-item img {
  max-width: 300px;
}

/* Hide the input visually */
#fileInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Tag */
.tag-list {
  display: flex;
  justify-content: center;
}

.demo-section {
  margin: 0 10px;
}

/* Comment */
.comment {
  display: flex;
  width: 100%;
}

.avatar-wrapper {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-detail {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.comment-username {
  font-weight: 600;
}

.comment-content {
  margin-top: 10px;
}

.comment-action {
  margin: 0 0 30px 82px;
}

/* Dialog */
.example-form-dialog {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width-dialog {
  width: 100%;
}

.example-form-dialog {
  min-width: 150px;
  width: 100%;
}

.example-full-width-dialog {
  width: 100%;
}

.mt-30px {
  margin-top: 30px;
}

.wrapper {
  min-height: 80vh
}
