<div class="wrapper-login">
  <mat-tab-group>
    <mat-tab label="SIGN IN">
      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="username" placeholder="admin" />
          @if (username.hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [formControl]="password"
            placeholder="123"
          />
          @if (password.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </form>
      
      <div class="align-right">
        <button
          mat-flat-button
          color="primary"
          [disabled]="!username.valid || !password.valid"
          (click)="onLogin()"
        >
          Sign in
        </button>
      </div>
      
      <!-- <div class="button-google">
        <button type="button" class="login-with-google-btn">
          Sign in with Google
        </button>
      </div> -->
    </mat-tab>

    <!-- Sign up -->
    <mat-tab label="SIGN UP">
      <form [formGroup]="signupForm">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="admin"
            type="text"
            formControlName="newUsername"
          />
          @if (signupForm.controls.newUsername.hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
          } @if (signupForm.controls.newUsername.hasError('alreadyTaken')) {
          <mat-error>Username is already <strong>taken</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="newPassword"
            placeholder="123"
          />
          @if (signupForm.controls.newPassword.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <!-- File Upload -->
        <label
          class="drop-area"
          [class.drag-over]="dragging"
          for="fileInput"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
        >
          @if (!dragging) {
          <div class="drop-message">Drag & Drop Avatar Image Here</div>
          } @if (dragging) {
          <div class="drop-message">Drop Here</div>
          }
          <input
            type="file"
            id="fileInput"
            multiple
            accept="image/*"
            (change)="onFileSelected($event)"
          />
          @if (!isAvatar) {
          <mat-error>File is <strong>required</strong></mat-error>
          }
          <div id="image-preview">
            <div class="image-preview-item">
              <img [src]="avatarUrl" />
            </div>
          </div>
        </label>
      </form>
      
      <div class="align-right">
        <button
          mat-flat-button
          color="primary"
          [disabled]="!signupForm.valid || !isAvatar"
          (click)="onSignup()"
        >
          Sign up
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
