<router-outlet></router-outlet>
<div class="wrapper-button">
  <div class="button-align">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search:</mat-label>
        <input matInput placeholder="Gone with the wind" [formControl]="searchInput">
      </mat-form-field>
    </form>
    <button
      mat-fab
      extended
      color="primary"
      [routerLink]="['/admin/fiction/create']"
    >
      New Fiction
    </button>
  </div>
</div>
<div class="wrapper-fiction">
  <div class="fiction-list-wrapper">
    <div class="fiction-list">
      <div class="ficiton" *ngFor="let fiction of fictions">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ fiction.name.toUpperCase() }}</mat-card-title>
          </mat-card-header>
          <div class="wrapper-img">
            <img mat-card-image [src]="fiction.coverUrl" alt="Photo" />
          </div>
          <mat-card-content>
            <p>
              {{ fiction.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/fiction/{{ fiction.id }}">
              CHI TIẾT
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-tag">
  <div class="tag-wrapper">
    <mat-chip-set
      aria-label="Tag selection"
      class="fiction-tag"
      *ngFor="let tag of tags"
    >
      <mat-chip class="tag-item" (click)="filterFiction(tag.id)">{{ tag.name }}</mat-chip>
    </mat-chip-set>
  </div>
</div>
